//COLOR
$color-blue : #007bc1 ;
$color-dark-blue :#004a75 ;
$color-orange : #ff8000  ;
$color-dark-orange :#cc6600 ;
$color-smoke-grey :#e5e5e5 ;

$color-grey-dark: #323752;
$color-grey: #777;
$color-white: #fff;
$color-black: #000;

//FONTS 
$default-font-size : 1.6rem;

//GRID
$grid-width: 100%;
$gap-vertical: 2rem;
$gap-horizontal-1: 1.75rem;
$gap-horizontal-2: 0.25rem;
